<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="71736b35-3731-4a6b-b575-7cd39f9c0a8b" name="Import" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="71736b35-3731-4a6b-b575-7cd39f9c0a8bfileName">Import</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>