<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="62dff309-fde1-423f-ac98-1468c7491279" name="Account" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="62dff309-fde1-423f-ac98-1468c7491279fileName">Account</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>