<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1aff9e2e-6188-4bf3-98ca-cc6fdaf0d9aa" name="User" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="1aff9e2e-6188-4bf3-98ca-cc6fdaf0d9aafileName">User</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>